.cityList
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  overflow-x auto
  width 100%
  background-color #fff
  z-index 99
  transition all 500ms
  -webkit-overflow-scrolling touch
  h3
    background-color #c7c7c7
    text-indent 10px
  .city
    li
      height 25px
  .indexList
    position fixed
    right 20px
    top 50%
    transform translatey(-50%)
    background-color rgba(128,128,128,0.2)
    padding 15px 7px
    border-radius 10px
    z-index 999
    li
      height 20px
      left 20px
      text-align center
      line-height 20px
.hide
  transform translateY(1000px)