@import './vari'

.filmDetail
  .poster,
  .detail
    display inline-block
    margin 20px 0 0 20px
  .poster
    img
      width 70px
      height 100px
  .detail
    margin-left 15px
    h2
      font-size 20px
    div
      color greyfont
  .intro
    margin 10px
    text-indent 32px
    border-top 1px solid border-color
    padding-top 20px
  .book
    z-index 99
    text-align center
    background-color #e44545
    color #fff
    font-size 18px