@import './vari'

.filmList
  width 100%
  padding 10px
  li
    margin 10px
    padding 10px 0
    border-bottom: 1px solid border-color
    height 125px
  img
    width 70px
    height 100px
  section
    display inline-block
  .info
    vertical-align top
    padding 0px 0 0 15px
    font-size 18px
  .book
    vertical-align middle
    float right
    padding-top 33px
    a
      font-size 12px
      display inline
      padding 4px 8px
      color red
      border 1px solid red
      border-radius 4px 
